[Unit]
Description=High-performance, schema-free document-oriented database
After=time-sync.target network.target

[Service]
User={{ psmdb_user }}
Group={{ psmdb_group }}
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitNPROC=64000
EnvironmentFile=-/etc/default/mongod
ExecStart=/usr/bin/mongod --config {{ psmdb_config_file }}
PIDFile={{ psmdb_pid_file }}
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
